.button {
    &__container {
        display: none;
        justify-content: space-between;
        margin: 5px;
        padding: 10px 20px;
        border: 1px solid $black;
        border-radius: 10px;
        background-color: #fff;
        cursor: pointer;

        &.red {
            background-color: red;
            color: white;
        }

        &.yellow {
            background-color: yellow;
            color: white;
        }

        &.blue {
            background-color: blue;
            color: white;
        }

        &.green {
            background-color: green;
            color: white;
        }
        
        &.black {
            background-color: black;
            color: white;
        }

        &.white {
            background-color: white;
            color: black;
        }

        &.disabled {
            pointer-events: none;
            cursor: default;
            opacity: 0.5;
        }
    }

    &__icon {
        margin: 1px;
    }

    &__text {
        margin: 1px;
    }

    

}