.modal {
    display:none;
    position: fixed;
    z-index:1;
    left: 0;
    top:0;
    height: 100%;
    width:100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);

    &-content {
    background-color:#f4f4f4;
    margin: 20% auto;
    width:70%;
    box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2),0 7px 20px 0 rgba(0,0,0,0.17);
    animation-name:modalopen;
    animation-duration:1s;
    }

    &-header {
        background:coral;
        padding:15px;
        color:#fff;

        & h2{
            margin:0;
        }
    }

    &-footer {
        background:coral;
        padding:10px;
        color:#fff;
        text-align: center;

        & h3{
            margin:0;
        }
    }

    &-body {
        padding:10px 20px;
    }
    &-closeBtn {
    color:#ccc;
    float: right;
    font-size:30px;
    color:#fff;

    &:focus, &:hover {
        color:#000;
        text-decoration: none;
        cursor: pointer;
    }
}

}



